extends layout

include _includes/sharedHTMLfunctions

block content
 br
 br
 h1 Dulcelandia
 h2 Nuestros productos
  #banner.page-header
  .row
    .col-xs-12.col-sm-8
      .row.list-group
        each product in products
          .col-xs-12.list-group-item
            h4= product.description
              // a(href=function {render('product_detail',product);};)= product.description
              small &nbsp;
            p  Desde #{product.price} euros
            p Ofertas: 
              each flavor in product.flavors
                span.label.label-warning= flavor
                &nbsp;
            a(href='../deleteProduct/#{product._id}') Eliminar- 
          
